<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            margin: 0;
            overflow: hidden;
            width: fit-content;
            height: fit-content;
            color: whitesmoke;
            font-family: Arial, sans-serif;
            font-size: 32px;
        }

        table {
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: {{ header_color }};
            font-weight: normal;
        }

        td {
            background-color: {{ body_color }};
        }

        tbody td:not(:last-child) {
            border-right: 1px solid gray;
        }

        tbody tr:not(:last-child) td {
            border-bottom: 1px solid gray;
        }

        thead {
            border-bottom: 1px solid gray;
        }
        .header {
            background-color: {{ header_color }};
            text-align: center;
            padding: 10px;
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 3px;
        }
        .footer {
            background-color: {{ footer_color }};
            text-align: center;
            padding: 3px;
        }
        .container {
            border-radius: 5px;
            overflow: hidden;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="header">{{ header_content }}</div>
        <table>
            <thead>
                <tr>
                    {% if changes.items() | length > 0 %}
                    <th>Branch</th>
                    <th>Modified Scenes</th>
                    <th>Conflicts</th>
                    {% else %}
                    <th colspan="3">No changes detected</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for branch, data in changes.items() %}
                <tr>
                    <td>{{ branch }}</td>
                    <td>{{ "<br>".join(data.scenes_modified) }}</td>
                    {% if data.conflicts | length > 0 %}
                    <td style="color: {{ footer_color }};">{{ "<br>".join(data.conflicts) }}</td>
                    {% else %}
                    <td style="color: rgb(150, 255, 150);">None</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"  class="footer">{{ footer_content }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>

</html>